{% extends 'LyndaAjradesBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}
{% block content %}
<div class="contenu">
    <h1>NOMBRE DE MOIS NON PAYE</h1>
    <table class="records_list table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Secteur</th>
                <th>Nombre de Mois</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>


        {% for entity in entities %}
            <tr>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.secteur }}</td>
                <td>{{ entity.nbMois }}</td>
                <td>
                    <a href="{{ path('dettes_show', { 'id': entity.id, 'annee': 'all' }) }}">View</a> 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('mentualite') }}">Back</a>
</div>
    {% endblock %}
