{% extends 'LyndaAjradesBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}
{% block content %}
<div class="contenu">
    <h1>Mentualite non payé</h1>
        <nav>
          <ul class="pagination">
            <!-- <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li> -->
            {% for year in years %}
                <li><a href="{{ path('dettes_show', { 'annee': year.annee, 'id': id }) }}">{{year.annee}}</a></li>
            {% endfor %}
            <li>
              <a href="{{ path('dettes_show', { 'annee': 'all','id': id }) }}">
                all
              </a>
            </li>
            <!-- <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li> -->
        </ul>
        </nav>
    <table class="records_list table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mois</th>
                <th>Annee</th>
                <th>Montant</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.membre.lastname }}</td>
                <td>{{ entity.membre.firstname }}</td>
                <td>{{ entity.mois }}</td>
                <td>{{ entity.annee }}</td>
                <td>{{ entity.montant }}</td>
                <td>
                    <a href="{{ path('mentualite_edit', { 'id': entity.id }) }}">Edit</a> 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('dettes') }}">Back</a>
</div>
    {% endblock %}
