{% extends 'LyndaAjradesBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}
{% block content %}
<div class="contenu">
    <h1>Mentualite edit</h1>

    {{ form(edit_form) }}
    <a href="{{ path('mentualite') }}">Back to the list    </a>
</div>
{% endblock %}
