{% extends 'LyndaAjradesBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}
{% block caisses %}
   <h2 class='btn btn-primary btn-sm'>Caisse : {{caisse}} GNF</h2> 
{% endblock %}
{% block content %}
<div class="contenu">
    <h1>Mentualite list</h1>
    <a class="btn btn-primary btn-xs" href="{{ path('month_create') }}">
        Create this month
    </a>
    <a class="btn btn-primary btn-xs" href="{{ path('dettes') }}">
        Les dettes
    </a>
    <table class="records_list table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mois</th>
                <th>Annee</th>
                <th>Montant</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <!-- <td><a href="{{ path('mentualite_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> -->
                <td>{{ entity.membre.lastname }}</td>
                <td>{{ entity.membre.firstname }}</td>
                <td>{{ entity.mois }}</td>
                <td>{{ entity.annee }}</td>
                <td>{{ entity.montant }}</td>
                
               
                <td>
                    <a href="{{ path('mentualite_edit', { 'id': entity.id }) }}">Edit</a> 
                </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
