{% extends 'LyndaAjradesBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}
{% block content %}
<div class="contenu">
    <h1>Mentualite creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('mentualite') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>
{% endblock %}
