{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}
{% block body -%}
    <h1>Mentualite</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Mois</th>
                <td>{{ entity.mois }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ entity.annee }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ entity.montant }}</td>
            </tr>
        </tbody>
    </table>

 
        <a href="{{ path('mentualite') }}">
            Back to the list
        </a>

 
        <a href="{{ path('mentualite_edit', { 'id': entity.id }) }}">
            Edit
        </a>
   
{% endblock %}
