{% extends 'LyndaAjradesBundle::layout.html.twig' %}

{% block content %}
    <div class="contenu">
        <h1>Sortie list</h1>
        <a class="btn btn-primary btn-xs" href="{{ path('sortie_new') }}">NEW</a>
        <table class="records_list table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Motif</th>
                    <th>Datetime</th>
                    <th>Montant</th>
                    
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.Motif }}</td>
                    <td>{% if entity.datetime %}{{ entity.datetime|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ entity.Montant }}</td>
                   
                </tr>
            {% endfor %}
            </tbody>
        </table>       
    </div>
{% endblock %}
