{% extends 'LyndaAjradesBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}
{% block content %}
<div class="contenu">
    <h1>Sortie creation</h1>

    {{ form(form) }}
	<a href="{{ path('sortie') }}">Back to the list</a>
</div>
{% endblock %}
