{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Sortie</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ entity.Motif }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{{ entity.datetime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ entity.Montant }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('sortie') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('sortie_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
