{% extends 'LyndaAjradesBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}
{% block content %}
<div class="contenu">
    <h1>Mentualite by Year</h1>
    <nav>
          <ul class="pagination">
            {% for year in years %}
                <li><a href="{{ path('budget_detail', { 'annee': year.annee}) }}">{{year.annee}}</a></li>
            {% endfor %}
            <li>
              <a href="{{ path('budget_detail', { 'annee': 'all'}) }}">
                all
              </a>
            </li>
        </ul>
    </nav>
    {% for total in totals %}
       <h3 class='btn btn-primary btn-xs'>Total :  {{total}} gnf</h3>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Mois</th>
                <th>Annee</th>
                <th>Montant</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.mois }}</td>
                <td>{{ entity.annee }}</td>
                <td>{{ entity.montant }}</td>                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
</div>
    {% endblock %}
