{% extends 'LyndaAjradesBundle::layout.html.twig' %}

 {% block javascripts %}
 	{{parent()}}
  {% endblock %}

{% block content -%}
<div class="contenu">
    <h1>Membre edit</h1>
    <div class="form-group">{{ form(edit_form) }}</div>
    <a href="{{ path('ajrades_member' , { 'page': 1 })}}">
        Back to the list
    </a>
</div>
{% endblock %}
