{% extends 'LyndaAjradesBundle::layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}
{% block caisses %}
   <h2 class='btn btn-primary btn-sm'>Caisse : {{caisse}} GNF</h2> 
{% endblock %}
{% block content %}
    <div class="contenu">
        
        <h1>Liste des membres </h1>
        <a class="btn btn-primary btn-xs" href="{{ path('ajrades_member_new') }}">NEW</i></a>
        
        <table class="records_list table">
            <thead>
                <tr>
                    <th data-field="Id">Numero</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Téléphone</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.lastname }}</td>
                    <td>{{ entity.firstname }}</td>
                    <td>{{ entity.phonenumber }}</td>
                    <td>
                        <a href="{{ path('ajrades_member_edit', { 'id': entity.id }) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% for p in range(1, nombrePage) %}
                <li{% if p == page %} class="active"{% endif %}>
                  <a href="{{ path('ajrades_member', { 'page': p }) }}">{{ p }}</a>
                </li>
              {% endfor %}
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
        </ul>
        </nav>                       
           
    </div>
    {% endblock %}
