{% extends 'LyndaAjradesBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}
{% block content %}
<div class="contenu">
    <h1>Membre creation</h1>

    {{ form(form) }}
    <a href="{{ path('ajrades_member', { 'page': 1 }) }}">
        Back to the list
    </a>  
</div>
{% endblock %}
