<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                SIMPETIN
            {% endblock %}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}
            <link href="{{ asset('bundles/lyndaajrades/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all">
            <link rel="stylesheet" href="{{ asset('bundles/lyndaajrades/css/roboto.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/lyndaajrades/css/material.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/lyndaajrades/css/ripples.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/lyndaajrades/css/main.css') }}" type="text/css" media="all" />
        {% endblock %}
           
    </head>
    <body>
      <div id="top" class="header">
          <div class="nav">
            <nav class="navbar navbar-new" role="navigation">
              <div class="container">
                <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="#" class="navbar-brand">SIMPETIN</a>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-right navbar-nav text-center">
                    <li>
                      <a href="{{ path('home_index') }}"><i class="glyphicon glyphicon-home"></i> &nbsp;Home</a></li>
                    <li>
                      <a href="{{ path('ajrades_member', {'page': 1}) }}"><i class="glyphicon glyphicon-user"></i>&nbsp;Membre</a>
                    </li>
                    <li>
                      <a href="{{ path('mentualite') }}"><i class="glyphicon glyphicon-import"></i>&nbsp;Mensualite</a>
                    </li>
                    <li>
                      <a href="{{ path('sortie') }}"><i class="glyphicon glyphicon-export"></i>&nbsp;Sortie argent</a>
                    </li>
                    <li>
                      <a href="{{ path('budget_detail', { 'annee': 'all'}) }}"><i class="glyphicon glyphicon-stats"></i>&nbsp;Entrée par mois</a>
                    </li>
                    <li>
                      <a href="{{ path('lynda_projet') }}"><i class="glyphicon glyphicon-star-empty"></i>&nbsp;Projets</a>
                    </li>
                     <li>
                      <a href="{{ path('lynda_aide') }}"><i class="glyphicon glyphicon-resize-small"></i>&nbsp;Aides</a>
                    </li>
                  </ul>
                </div>
              </div>
          </nav>
        </div>
      </div>


      <div class="caisse">
        {% block caisses %}
        {% endblock %}
      </div>

      <div id="content">
        <div class="content table-responsive">
         
           {% block content %}
           {% endblock %}
        </div>
      </div>

      
      <nav class="footer navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
          <a class="copyr" href="#">Copyright @2015 Lynda Network</a>
        </div>
      </nav> 
       {% block javascripts %}
          <script src="{{ asset('bundles/lyndaajrades/js/jquery-1.11.2.min.js') }}"></script>
          <script src="{{ asset('bundles/lyndaajrades/js/bootstrap.min.js') }}"></script>
          <script src="{{ asset('bundles/lyndaajrades/js/ripples.min.js') }}"></script>
          <script src="{{ asset('bundles/lyndaajrades/js/material.js') }}"></script>
          
          <script>
            $(document).ready(function() {
                // This command is used to initialize some elements and make them work properly
                $.material.init();
                $.material.ripples();
                 $.material.input();
            });
          </script>
        {% endblock %}


        
   </body>
</html>