body{
	background-color: white;
	padding-bottom: 70px;
}

td { 
    padding:2px;  
    margin: 2px;
    border-collapse: collapse;
}
input{
	text-transform: uppercase;
}
.caisse{
	max-width: 700px;
	height: 20px;
	margin: 0 auto;
}
.contenu{
	max-width: 700px;
	margin: 0 auto;
}


.btn-add{
	margin-top: 0px;
	margin-right: 0px;
}


.input{
	width: 100px;
	background-color: red;
}

.navbar{
	border-radius: 0px !important;
	z-index: 1;
}

.navbar-new{
	background-color: rgba(0,0,0,0.6);
}

.navbar-new .navbar-brand,
.navbar-new .navbar-nav > li > a {
	color: #f1f1f1;
}


.navbar-new .navbar-nav > li > a:hover, 
.navbar-new .navbar-nar > li > a:focus{
	background-color: rgba(0,0,0,0.8);;
}

.navbar-new .navbar-toggle{
	border-color: #dddddd;
}

 .navbar-new .navbar-toggle:hover,
 .navbar-new .navbar-toggle:focus{
 	background-color: #000000
 }

 .navbar-new .navbar-toggle .icon-bar{
 	background-color: #cccccc;
 }

 .navbar-new .navbar-collapse{
 	border-color: #e6e6e6;
 }
.footer{
	text-align: right;
}

.copyr{
	color: white;
}

.copyr:hover{
	color: white;
}
