{% extends 'LyndaAjradesBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}
{% block content %}
<div class="contenu">
    <h1>Aide edit</h1>

    {{ form(edit_form) }}

    
        <a href="{{ path('lynda_aide') }}">
            Back to the list
        </a>
   
</div>
{% endblock %}
