{% extends 'LyndaAjradesBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}
{% block content %}
<div class="contenu">
    <h1>Aide creation</h1>

    {{ form(form) }}

        <a href="{{ path('lynda_aide') }}">
            Back to the list
        </a>
{% endblock %}
