{% extends 'LyndaAjradesBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}
{% block content %}
<div class="contenu">
    <h1>Projet list</h1>
    <a class="btn btn-primary btn-xs" href="{{ path('lynda_projet_new') }}"> NEW </a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Budget</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.datedebut %}{{ entity.datedebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.datefin %}{{ entity.datefin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.budget }}</td>
                <td>
                    <a href="{{ path('lynda_projet_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       
            

</div>
    {% endblock %}
