{% extends 'LyndaAjradesBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   
{% endblock %}
{% block content %}
<div class="contenu">
    <h1>Projet creation</h1>

    {{ form(form) }}

      
        <a href="{{ path('lynda_projet') }}">
            Back to the list
        </a>
  
</div>
{% endblock %}
